* {
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth; /*need this because scroll between elements on click*/
	-webkit-overflow-scrolling: touch;
}

body {
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

h1 {
	color: rgba(0,0,0,0);
}

.carousel-wrapper {
	width: 200vw;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	position: fixed;
	left: 0;
	top: 0;
	overflow-x: hidden;
	transition: left 1s;
	background-color: #000;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

.carousel-wrapper.img1 {
	left: 0;
}

.carousel-wrapper.img2 {
	left: -100vw;
}

.carousel-image {
	width: 100vw;
	top: 0;
	vertical-align: top;
	image-repeat: no-repeat;
	object-position: center top;
	object-fit: cover;
	opacity: 0.3;
}

/*icons to scroll through images */
#left, 
#right {
	color: #008B8B;
	font-size: 10vw;
	position: fixed;
	top: 70vh;
	z-index: 100000;
}

#left {
	left: 2vw;
}

#right {
	right: 2vw;
}

#grid {
	position: absolute;
	top: 0;
	transition: top 0.6s ease-in;
}	

#grid.scrolledUp { /*this smooth-scrolls in iOs */
	top: -1000px;
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

.grid-item.title { 
	display: block !important;
	width: 95vw;
	height: 20vh;
	margin: 10px auto 70px auto;
	background-image: url(imgs/PaperParachutesLogo.png);
  	background-size: contain;
  	background-position: center;
  	background-repeat: no-repeat;
  	object-attachment: fixed;
}

.title-inner {
	z-index: 5000000000;
	color: #fff;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
  	mask: url(imgs/PaperParachutesLogo.png);
    mask-mode: alpha;
    mask-size: contain;
    mask-attachment: fixed;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(imgs/PaperParachutesLogo.png);
    -webkit-mask: url(imgs/PaperParachutesLogo.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-attachment: fixed;
    background: radial-gradient(
	    #000, 
	    #000,
	    #000,
	    #DC143C,
	    #00bfff,
	    #ff1493
	  );
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/*icon/button flex layouts*/

.icon-wrapper {
	width: 100vw;
	min-width: 300px;
	margin: 100px auto 30px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 5;
	clear: both;
}

.icon {
	width: 20%;
	height: 80px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*all links and icons*/
a, 
a:visited, 
i.fab  {
	font-size: 45px;
}

a#bioIcon, 
a#epkIcon {
	font-size: 20px;
	padding: 2px 4px;
}

a#bioIcon {
	fill: red;
}

a#epkIcon {
	fill: orange;
}

a#top {
	padding: 0 0 30px 0;
	cursor: pointer;
}

svg * {
	cursor: pointer;
}

svg#facebook *, 
a#top svg * {
  fill: red;
  color: red;
}

svg#contact * {
	color: green;
}

svg#instagram * {
	fill: #ff00ff;
}

svg#youtube * {
	fill: #ff7f80;
}

svg#bandcamp * {
	fill: yellow;
}

svg#soundcloud * {
	fill: #9acd32;
}

svg#twitter * {
	fill: blue;
}

svg#spotify * {
	fill: purple;
}

a:hover, 
a:hover i.fab, 
a:active, 
a:active i.fab, 
a:hover svg *, 
a:active svg * {
	color: #fff;
	fill: #fff !important;
	stroke: #fff;
}

/*buttons*/
.about-contact-button {
	margin: 0 auto;
	color: #fff;
  	font-weight: bold;
  	font-size: 30px;
  	display: flex;
  	flex-direction: column;
}

#bioButton, 
#contactButton {
	background-color: #fff;
	color: red;
	border-radius: 12px;
	font-weight: bold;
	fill: url(#rg);
	margin: 20px auto;
	width: 200px;
	text-align: center;
	cursor: pointer;
}

/*mailing list signup form*/

#mc_embed_signup {
	/*background:#fff; */
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	clear: left; 
	font: 14px Helvetica,Arial,sans-serif; 
	width: 70%;
	margin-top: 30px;
}

#mc-embedded-subscribe-form label {
	width: 100%;
	display: inline-block;
	text-align: center;
}

#mc_embed_signup input {
	display: inline-block;
	margin-top: 10px;
	float: left;
}

#mc_embed_signup input.email {
	width: 65%;
	height: 40px;
	font-size: 14px;
	padding-left: 14px;
}

#mc_embed_signup input.button {
	width: 33%;
	background-color: #d3d3d3; /*do not remove the background-color*/
	height: 40px !important;
	margin: 10px 0 0 2%;
}

/*about section under main page*/

.about-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}

#bio {
	height: 80vh;
	width: 90vw;
	min-width: 300px;
	color: #000;
	font-size: 14px;
	padding: 12px;	
 	background-color: white;
	border-radius: 12px;
	position: absolute;
	top: 150vh;
	transition: top 0.6s ease-in;
}

#bio.visible {
	top: 10vh;
	margin-bottom: 150px;
	overflow: scroll;
}

.back-to-top-wrapper {
	position: absolute;
	bottom: 0;
	right: 10vw;
	height: 100px;
	width: 90vw;
	min-width: 300px;
	text-align: right;
	display: none;
}

#bio.visible ~ .back-to-top-wrapper {
	display: block;
}


.footer {
	width: 100vw;
	color: #fff;
	background-color: #000;
	display: flex;
	justify-content: center;
	position: fixed;
	padding-bottom: fixed;
	bottom: 0;
	z-index: 10;
}

/*desktop*/
	@media only screen and (min-width:900px) {

		.grid-container {
			justify-content: flex-start;
		}
		
		.grid-item.title  {
			margin: 0 0 100px 0;
			min-height: 150px;
		}

		#left, 
		#right { 
			font-size: 5vw;
		}

		.icon-wrapper, 
		.about-contact-button  { 
			width: 50vw;
			margin: 0 auto;
		}

		.about-contact-button  {
			margin-top: 30px;
			flex-direction: row;
		}

		#bio {
			width: 50vw;
			padding: 12px 40px 40px 40px;
		}

		.back-to-top-wrapper {
			width: 50vw;
			right: 25vw;
		}

	
	}

	@media only screen and (max-height:700px) { 
		.grid-item.title {
			margin: 10px auto 0 auto;
		 }

		.icon-wrapper {
			margin-top: 0;
		}
	}

	@media only screen and (max-height:350px) {
		body,
		.grid-container, 
		#bio  {
			overflow-y: scroll;
		}

	}

