* {
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url(imgs/paperparachutesband.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.grid-item.title {
	z-index: 5000;
	color: #fff;
	font-size: 5vw;
	margin: 0 auto;
}

a, 
a:visited, 
i.fab  {
	display: inline-block;
	color: white;
	font-size: 50px;
}

a:hover, 
a:hover i.fab, 
a:active, 
a:active i.fab {
	color: lightgrey;
	transform: scale(1.2);
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	background: linear-gradient(
	    rgba(0, 0, 0, 0.6), 
	    rgba(0, 0, 0, 1)
	  );
}

.icon-wrapper {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.icon {
	width: 25%;
	height: 80px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100vw;
	color: #fff;
	display: flex;
	justify-content: center;
}

/*desktop*/
	@media only screen and (min-width:900px) {

		.icon-wrapper { 
			width: 50vw;
		}
	}

	@media only screen and (max-height:350px) {
		body,
		.grid-container  {
			overflow-y: scroll;
		}

	}

